body{
  background-color: rgb(212, 124, 139);
}

.App {
  text-align: center;
  background-color: rgb(165, 130, 165);
  height: 94vh;
}

.pink{
  color: rgb(134, 65, 77);
}

.blue{
  color: rgb(73, 73, 146);
}

.green{
  color: rgb(40, 97, 40);
}

.yellow{
  color: rgb(219, 219, 70);
}

.red{
  background-color: rgb(196, 21, 21);
  color: pink;
  border: solid 3px pink;
  height: 28px;
  font-size: 15px;
}